version: '3.8'

services:
  localstack:
    container_name: localstack
    image: localstack/localstack-pro:latest
    ports:
      - "4566:4566"            # LocalStack Gateway
    environment:
      - SERVICES=dynamodb,s3,lambda,iam,apigateway,sts,cloudformation
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DEFAULT_REGION=us-east-1
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN}
    volumes:
      #- "${TMPDIR:-/tmp}/localstack:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  dynamodb-dashboard:
    container_name: dynamodb-dashboard
    image: kritishdhaubanjar/dynamodb-dashboard:latest
    network_mode: host
    environment:
      AWS_REGION: us-east-1
      AWS_ENDPOINT: http://0.0.0.0:6000
      AWS_ACCESS_KEY_ID: fakeMyKeyId
      AWS_SESSION_TOKEN: fakeSessionToken
      AWS_SECRET_ACCESS_KEY: fakeSecretAccessKey
