version: '3.8'

services:
  localstack:
    container_name: localstack
    image: localstack/localstack-pro:latest
    ports:
      - "4566:4566"            # LocalStack Gateway
    environment:
      - SERVICES=dynamodb,s3,lambda,iam,apigateway,sts,cloudformation
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DEFAULT_REGION=us-east-1
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN}
    volumes:
      - "${TMPDIR:-/tmp}/localstack:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
